<style>
body {
  margin-top: 15%;
  background-image: radial-gradient(closest-side, #8cb3d9, #79a6d2);
  text-align: center;
  color: #204060;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

h1 {
  font-size: 70px;
  line-height: 40px;
  color: #23394A;
  margin: 0 auto 16px;
  padding: 0 20px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  letter-spacing: 0.5px;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 5%;
}

h2 {
  color: #111E28;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto 16px;
  padding: 0 20px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  letter-spacing: 0.5px;
  font-weight: 600;
  max-width: 600px;
}

p {
  color: #111E28;
  font-weight: 300;
  font-size: 20px;
  margin: 0 auto 24px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
  letter-spacing: 0.5px;
  padding: 0 20px;
  margin-bottom: 6%;
}
</style>

<h1>Error</h1>
<h2>An Error Has Occurred</h2>
<p>Server is currently under high load - please hit 'reload' on your browser in a minute to try again</p>