<footer class="bg6 p-t-10 p-b-0 p-l-45 p-r-45">
	<div class="flex-w p-b-15">
		<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
			<h4 class="s-text12 p-b-30">
                Check out our amazing reviews!
			</h4>
			<div class="social-icon">
                <a href="https://web.facebook.com/codekidsTH/?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/hashtag/codekids" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/codekidscenter/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://code.org/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="footer-menu">
                <a href="/schools#get_start">About</a>
                <a href="/schools#get_start">Terms &amp; Conditions</a>
                <a href="/schools#get_start">Privacy Policy</a>
                <a href="/schools#get_start">Contact</a>
            </div>
		</div>
		<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="m-text10 p-b-30">
				FOR HOME
			</h4>
			<ul>
    			<li class="p-b-9">
					<a href="/#overview" class="s-text20">
						Overview
					</a>
				</li>
				<li class="p-b-9">
					<a href="/#benefit" class="s-text20">
						Who It's For
					</a>
				</li>
				<li class="p-b-9">
					<a href="/#how_it_work" class="s-text20">
						How It Works
					</a>
				</li>
				<li class="p-b-9">
					<a href="/#video" class="s-text20">
						Why Codebox?
					</a>
				</li>
				<li class="p-b-9">
					<a href="/#price" class="s-text20">
						Pricing
					</a>
				</li>
			</ul>
		</div>
		<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="m-text10 p-b-30">
				FOR SCHOOLS
			</h4>
			<ul>
				<li class="p-b-9">
					<a href="/schools#pricing_plan" class="s-text20">
                        Overview
					</a>
				</li>
				<li class="p-b-9">
    				<a href="/schools#get_start" class="s-text20">
						Getting Started
					</a>
				</li>
			</ul>
		</div>
		<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="m-text10 p-b-30">
				STORE
			</h4>
    		<ul>
				<li class="p-b-9">
					<a href="/store#subscription" class="s-text20">
						Subscription
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>