<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>CodeKidsBox</h2>
                    <h3>C</h3>
                    <p>The New box of coding for kids.</p>
                </div>
                <br>
                <div class="get-start-area">
                    <a href="/store" class="submit submit-home">Choose Your Box <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->

<!-- ***** Monthly Area Start ***** -->
<section class="our-monthly-membership p-t-20 p-b-20 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="get-start-area max-w-full">
                    <form action="#" method="post" class="form-inline">
                        <h4 style="padding-right: 15px;">STAY IN THE LOOP! Join our email list for deals and news. </h4>
                        <input type="email" class="form-control email" placeholder="Email Address">
                        <input type="submit" class="submit bg10 hov1" value="Join">
                    </form>
                </div>
                <div class="membership-description">
                    <h3>Each level introduces a new app projects that come every month!</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Monthly Area End ***** -->

<section class="head-course-details-area bg9 m-t-10 m-b-10" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="../img/course/ce-2.jpg">
            </div>
            <div class="single-head-course col-12 col-lg-6 flex-c-m p-t-10">
                <div class="single-head-content">
                    <h5>Basic Codebox</h5>
                    <span>Guided learning for ages 6-12</span>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Blog Area Start ##### -->
<section class="blog-area bgwhite m-b-10" id="price">
    <div class="container">
        <div class="academy-blog-posts">
            <div class=" single-blog-post wow fadeInUp" data-wow-delay="300ms">
                <div class="blog-post-thumb m-b-50">
                    <img src="img/logo/codekidsbox.jpg" alt="">
                </div>
                <div class="post-title">Subscriptions start</div>
                <p>THB 800/Month.</p>
                <a href="/login" class="btn academy-btn btn-sm m-t-15">SIGN ME UP</a>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->

<!-- ***** Video Start ***** -->
<section class="cool_facts_area bg10" id="video">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">                    
                <div class="video-area">
                    <div class="video-play-btn">
                        <a href="" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
                <br>
                <div class="single-special text-center">
                    <h3>CodeBox Video</h3>
                    <h4>Why should kids learn to code?</h4>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="video-area">
                    <div class="video-play-btn">
                        <a href="" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                </div>
                <br>
                <div class="single-special text-center">
                    <h3>CodeBox Video</h3>
                    <h4>Why should kids learn to code?</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Video End ***** -->

<!-- ***** Benefit Start *****==== -->
<section class="bgwhite p-t-50 p-b-20 clearfix" id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Benefit to your kids</h2>
                    <div class="line-shape"></div>
                    <br>
                    <ul class="text-left">
                        <li><h4>• Lorem ipsum dolor sit amet fderer  rerssrer  fdaredr drss diis  dftter dserfefec  erardetff sretcwa <i class="fa fa-check" aria-hidden="true"></i></h4></li>
                        <li><h4>• Consectetur adipiscing elit  rerssrer  fdaredr drss diis  dftter dserfefec  erardetff sretcwa <i class="fa fa-check" aria-hidden="true"></i></h4></li>
                        <li><h4>• Integer molestie lorem at massa  rerssrer  fdaredr drss diis  dftter dserfefec  erardetff sretcwa  <i class="fa fa-check" aria-hidden="true"></i></h4></li>
                        <li><h4>• Facilisis in pretium nisl aliquet  rerssrer  fdaredr drss diis  dftter dserfefec  erardetff sretcwa <i class="fa fa-check" aria-hidden="true"></i></h4></li>
                        <li><h4>• Nulla volutpat aliquam velit  rerssrer  fdaredr drss diis  dftter dserfefec  erardetff sretcwa <i class="fa fa-check" aria-hidden="true"></i></h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Benefit End ***** -->

<!-- ***** Level Button Start ***** -->
<section class="bg-white p-t-50 p-b-50" id="how_it_work">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>How it work?</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single-special text-center">
                    <h4>1</h4>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional quickly and easily</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special text-center">
                    <h4>2</h4>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional quickly and easily</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special text-center">
                    <h4>3</h4>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional quickly and easily</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Level Button End ***** -->

<section class="our-monthly-membership p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Hundreds of crazy fun apps to build and share</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-special text-center">
                    <h3>MY</h3>
                    <h4>APPICON</h4>
                </div>
            </div>
        </div>
    </div>
</section>