<section class="login">
    <div class="container-login flex-c-m">
        <div class="wrap-login bg9 p-l-55 p-r-55 p-t-65 p-b-54">
            <form method="GET" action="/" class="w-full validate-form">
                <span class="login-form-title dis-block t-center lh-1-2 p-b-49">
                    Login
                </span>
                <div class="wrap-input w-full pos-relative validate-input m-b-23" data-validate = "Username is reauired">
                    <span class="label-input lh-1-5 p-l-7">Username</span>
                    <input class="input dis-block w-full lh-1-2" type="text" name="username" placeholder="Type your username">
                </div>
                <div class="wrap-input w-full pos-relative validate-input" data-validate="Password is required">
                    <span class="label-input lh-1-5 p-l-7">Password</span>
                    <input class="input dis-block w-full lh-1-2" type="password" name="pass" placeholder="Type your password">
                </div>
                
                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                
                <div class="flex-c">
                    <div class="wrap-login-form-btn w-full dis-block pos-relative">
                        <div class="login-form-bgbtn"></div>
                        <button type="submit" class="login-form-btn flex-c-m lh-1-2">
                            Login
                        </button>
                    </div>
                </div>
                <div class="txt1 t-center p-t-25 p-b-20">
                    <span>
                        Sign Up With
                    </span>
                </div>
                <div class="flex-c-m">
                    <a href="#" class="login-social-item flex-c-m bg-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="login-social-item flex-c-m bg-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="login-social-item flex-c-m bg-google-plus">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                <div class="flex-col-c p-t-25">
                    <span class="txt1 p-b-17">
                        OR
                    </span>
                    <a href="#" class="txt2">
                        Register
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>