<section class="login">
    <div class="container-login flex-c-m">
        <div class="wrap-login bg9 p-l-55 p-r-55 p-t-65 p-b-54">
            <form method="GET" action="/" class="w-full validate-form">
                <span class="login-form-title dis-block t-center lh-1-2 p-b-49">
                    <img src="../img/avatar.png">
                </span>
                <div class="wrap-input w-full pos-relative validate-input m-b-23">
                    <span class="label-input lh-1-5 p-l-7">Username: CodeCamp TH 2</span>
                </div>
                <div class="wrap-input w-full pos-relative validate-input">
                    <span class="label-input lh-1-5 p-l-7">Profile</span>
                </div>
                <div class="flex-c p-t-20">
                    <div class="wrap-login-form-btn w-full dis-block pos-relative">
                        <div class="login-form-bgbtn"></div>
                        <button type="submit" class="login-form-btn flex-c-m lh-1-2">
                            SIGN OUT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>