<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>CodeKidsBox</h2>
                    <h3>C</h3>
                    <h4>Superfun Coding Projects.</h4>
                </div>
                <div class="get-start-area">
                    <div class="submit-schools bg10 hov1">
                        <a href="/signup"><span class="text-white">SIGN UP</span> <span class="text-black"><i class="fa fa-sign-in" aria-hidden="true"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->

<!-- ***** Pricing Plane Area Start *****==== -->
<section class="bgwhite p-t-50 p-b-50 clearfix" id="pricing_plan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Everything you need to get started</h2>
                    <p>Even if you've never coded a line in your life!</p>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-top-popular-course">
                    <img src="../img/course/ce-1.jpg">
                    <div class="popular-course-content">
                        <h5>CodeCamp 2</h5>
                        <span>THB 800/Month</span>
                        <p>Softwere Park CodeCamp</p>
                        <a href="/store" class="btn academy-btn btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap">
                    <img src="../img/course/ce-2.jpg">
                    <div class="popular-course-content">
                        <h5>Javascript Beginners</h5>
                        <span>THB 800/Month</span>
                        <p>Learn Javascript</p>
                        <a href="/store" class="btn academy-btn btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap">
                    <img src="../img/course/ce-3.jpg">
                    <div class="popular-course-content">
                        <h5>React And Redux</h5>
                        <span>THB 800/Month</span>
                        <p>learn React</p>
                        <a href="/store" class="btn academy-btn btn-sm">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <div class="get-start-area">
                <div class="submit bg10 hov1">
                    <a href="/store"><span class="s-text1">BROWSE OUR BOX!</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Pricing Plane Area End ***** -->

<!-- ***** Text Mocup form Monthly Area Start ***** -->
<section class="our-monthly-membership p-t-20 p-b-20 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="membership-description">
                    <h3><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris</h3>
                    <h3>justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa </h3>
                    <h3>vestibulum <i class="fa fa-quote-right" aria-hidden="true"></i> malesuada, UK</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Text Mocup form Monthly Area End ***** -->

<!-- ***** Awesome Start ***** -->
<section class="bg-white p-t-50 p-b-0 clearfix" id="get_start">
    <div class="container">
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                    <h5>Getting started</h5>
                    <p class="fs-18">Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    <h5>What's Codebox?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <h5>What kinds of kids can use Codebox?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h5>What do I need to use Codebox in my classroom?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada,</p>
                    <p>• Lorem ipsum dolor sit amet  Arcu es massa vestibulum malesuada, </p>
                    <p>• Consectetur adipiscing elit  Arcu es massa vestibulum malesuada,</p>
                    <p>• Integer molestie lorem at massa  Arcu es massa vestibulum malesuada,</p>
                    <p>• Facilisis in pretium nisl aliquet  Arcu es massa vestibulum malesuada,</p>
                    <p>• Nulla volutpat aliquam velit  Arcu es massa vestibulum malesuada, </p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <h5>Make sure the Codebox website works on the computers your students will use.</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                    <p>• Lorem ipsum dolor sit amet</p>
                    <p>• Consectetur adipiscing elit</p>
                    <p>• Integer molestie lorem at massa</p>
                    <p>• Facilisis in pretium nisl aliquet</p>
                    <p>• Nulla volutpat aliquam velit</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <h5>How do I get my students started with Codebox?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                    <h5>Why can't my students do Codebox entirely on their iPads?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-tablet" aria-hidden="true"></i>
                    <h5>How can my students run their apps on a tablet?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                    <p>1. Lorem ipsum dolor sit amet </p>
                    <p>2. Consectetur adipiscing elit</p>
                    <p>3. Integer molestie lorem at massa</p>
                    <p>4. Facilisis in pretium nisl aliquet</p>
                    <p>5. Nulla volutpat aliquam velit</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-language" aria-hidden="true"></i>
                    <h5>What programming language are students learning with Codebox?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <h5>Can I get your printed materials for my classroom?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-signing" aria-hidden="true"></i>
                    <h5>Is there a way to "bulk create" accounts for my students?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-creative-commons" aria-hidden="true"></i>
                    <h5>Who created Codebox?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-institution" aria-hidden="true"></i>
                    <h5>As a teacher, how can I stay in the loop about Codebox and education?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
                <div class="single-feature">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <h5>How do I contact the Codebox team?</h5>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet</p>
                </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>THANKS FOR TRYING CODEBOX WITH YOUR KIDS!</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome End ***** -->

<!-- ***** Join teachers Start ***** -->
<section class="bg9 p-t-50 p-b-50 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Join thousands of teachers who get articles on teaching kids to love coding.</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form action="#" method="post" class="form-inline">
                    <div class="get-start-area">
                        <input type="email" class="form-control email" name="email" placeholder="Email address" required>
                        <input type="submit" class="bg10 hov1 submit-stu" value="I LOVE MY STUDENTS">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ***** Join teachers End ***** -->